@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100&display=swap");
.body1,
.body2,
.body3 {
  background: linear-gradient(to right, #f2cc0f 0%, #a49a04 50%, #bec58d 100%);
}

.body4,
.body5 {
  background: radial-gradient(ellipse at center, #f2cc0f 0%, #a49a04 50%, #bec58d 100%);
}

.logo {
  z-index: 9999;
  opacity: 75%;
}

nav {
  background-color: #9453a6 !important;
  font-family: "Pattaya", sans-serif;
  font-size: 25px;
}

@media only screen and (max-width: 1200px) {
  #slideshow {
    width: 85% !important;
  }
}
@media only screen and (max-width: 900px) {
  .logo {
    height: 100px;
    width: 100px;
  }

  iframe {
    height: 200px !important;
  }

  .carousel,
#slideshow {
    height: 45vh !important;
  }
}
@media only screen and (max-width: 600px) {
  a .box {
    height: 100px;
    width: 100px;
  }
}
@media only screen and (max-width: 450px) {
  iframe {
    height: 150px !important;
  }
}
main .carousel {
  height: 85vh;
}

.carousel-caption {
  text-shadow: 3px 5px 2px #474747;
}

main .pic1 {
  height: 100%;
}

main .pic2 {
  height: 100%;
}

.modal-content,
.card {
  background: linear-gradient(45deg, #8cbf3f 0%, #9bbb6a 50%, #73b90b 100%);
}

.btn-c .accordion-item {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

form button,
.sponsor-link {
  font-family: "Pattaya", sans-serif !important;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  display: inline !important;
  background-color: #f2cc0f !important;
}

input,
textarea {
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.carousel-caption h5,
.carousel-caption p {
  font-family: "Henny Penny", cursive;
  color: #f2f2f2;
  font-size: 25px;
}

main {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  text-indent: 2em;
  font-weight: bolder;
}

main h1,
main h2 {
  font-family: "Henny Penny", cursive;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc, 4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #cccccc;
}

main h3 {
  font-family: "Pattaya", sans-serif;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc, 4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #cccccc;
}

.box {
  height: 200px;
  width: 200px;
  transition-duration: 1s;
}

.box:hover {
  transform: scale(1.2);
}

iframe {
  height: 350px;
  width: 45vw;
}

footer {
  background-color: #8cbf3f;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.card img {
  height: 250px;
  width: 250px;
}

div .sponsor {
  height: 50px !important;
  width: 50px !important;
}

.card-title {
  font-family: "Pattaya", sans-serif;
}

.card-text {
  font-family: "Roboto", sans-serif;
}

.bi-facebook {
  color: #f2cc0f;
}

.bi-telegram {
  color: #f2f2f2;
}

.bi-twitter {
  color: #9453a6;
}

.fa {
  padding: 20px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}/*# sourceMappingURL=style.css.map */